@use "../settings/breakpoints" as bp;
@use "../settings/colors" as colors;
@use "../settings/typography" as typography;
@use "sass:map";

.header-nav-mobile {
  margin: 2rem;
  margin-bottom: 4rem;
  padding: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  justify-content: center;
  
  @include bp.from(lg) {
    display: none;
  }

  &__logo {
    display: block;
    margin: 0;
    padding: 0;
    height: 4rem;
    width: auto;
  }

  &__nav {
    display: grid;
    align-items: center;
    justify-items: end;

    &-items {
      display: inline-flex;
      flex-direction: row;
      gap: .5rem;
    }

    &-item {
      display: block;
      margin: 0;
      padding: 0.35em;
      color: map.get(colors.$base-variation, 500);
      font-size: 1.25rem;
      text-transform: uppercase;
      width: fit-content;
      line-height: 1;
      border-radius: 0.25em;
      text-decoration: none;
      border: none;
      outline: none;
      border: 1px solid map.get(colors.$base-variation, 200);
    }
  }
}
