<!-- wp:group {"tagName":"main","className":"container container\u002d\u002dconstrained","style":{"spacing":{"padding":{"top":"6rem","bottom":"6rem"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<main
  class="wp-block-group container container--constrained"
  style="padding-top: 6rem; padding-bottom: 6rem"
>
  <!-- wp:paragraph {"style":{"typography":{"fontSize":"1rem","fontWeight":"700","textTransform":"uppercase","textAlign":"center"}},"textColor":"secondary"} -->
  <p
    class="has-text-align-center has-secondary-color has-text-color"
    style="font-size: 1rem; font-weight: 700; text-transform: uppercase"
  >
    Fout 404
  </p>
  <!-- /wp:paragraph -->

  <!-- wp:heading {"level":1,"style":{"typography":{"textAlign":"center","fontSize":40}}} -->
  <h1 class="wp-block-heading has-text-align-center" style="font-size: 40px">
    Pagina niet gevonden
  </h1>
  <!-- /wp:heading -->

  <!-- wp:paragraph {"style":{"typography":{"textAlign":"center","fontSize":16}}} -->
  <p class="has-text-align-center" style="font-size: 16px">
    De pagina die je zoekt bestaat niet of is verplaatst.
  </p>
  <!-- /wp:paragraph -->

  <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
  <div class="wp-block-buttons">
    <!-- wp:button {"backgroundColor":"primary","textColor":"white"} -->
    <div class="wp-block-button">
      <a
        class="wp-block-button__link has-white-color has-primary-background-color has-text-color has-background wp-element-button"
        href="/"
        >Ga naar de startpagina</a
      >
    </div>
    <!-- /wp:button -->
  </div>
  <!-- /wp:buttons -->
</main>
<!-- /wp:group -->
